:root{
    --header-clr: rgb(1, 101, 74);
    --footer-clr: rgb(70, 70, 70);
    --nav--clr: rgb(96, 78, 218);
    --article-clr: rgb(109, 0, 198);
    --sidebar-clr: rgb(0, 109, 139);
    --clr: white;
}

.container{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
    height: inherit;
    color: var(--clr);
    font-weight: bold;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr 5fr 1fr;
    gap: 15px;

}

.container > div {
    text-align: center;
    border-radius: 10px;
}

.header{
    background-color: var(--header-clr);
    grid-area: 1 / 1 / 2 / -1;
}

.sidebar{
    background-color: var(--sidebar-clr);
    grid-area: 2/ 1 / 4 / 2;

}

.nav{
    background-color: var(--nav--clr);
}

.article{
    background-color: var(--article-clr);
    grid-area: 3 / 2 / 4 / -1  ;
}

.footer{
    background-color: var(--footer-clr);
    grid-area: 4 / 1 / 5 / -1;
}

.article > p {
    margin: 1.2em;
    text-align: start;
}
