*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --header-clr: rgb(1, 101, 74);
    --footer-clr: rgb(70, 70, 70);
    --nav--clr: rgb(96, 78, 218);
    --article-clr: rgb(109, 0, 198);
    --sidebar-clr: rgb(0, 109, 139);
    --clr: white;
}

html, body{
    height: 100svh;
}

.container{
    height: inherit;
    margin: 2rem;
    color: var(--clr);
    display: grid;
    gap: 15px;
    grid-template: 10svh 10svh 55svh 10svh / 25% 75%;
}

.container > div {
    text-align: center;
    border-radius:10px;
}

#header{
    grid-area: 1 / 1 / 2 / 3;
    background-color: var(--header-clr);
}

#sidebar{
    grid-area: 2 / 1 / 4 / 2;
    background-color: var(--sidebar-clr);
}
#article{
    background-color: var(--article-clr); 
}
#footer{
    grid-area: 4 / 1 / 5 / 3;
    background-color: var(--footer-clr);
}

#navbar{
    background-color: var(--nav--clr);

}

p{
    margin: 1rem;
    text-align: start;
}

@media screen and (max-width: 768px){
    #article{
        overflow-y: scroll;
    }
    
}