*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --header-clr: rgb(1, 101, 74);
    --footer-clr: rgb(38, 38, 38);
    --nav--clr: rgb(70, 55, 163);
    --article-clr: rgb(109, 0, 198);
    --sidebar-clr: rgb(0, 109, 139);
    --clr: white;
}

html, body{
    height: 100svh;
}

.container{
    height: inherit;
    margin: 1rem;
    border: 2px solid black;  /*remove this later */
    background-color: lightblue;
    display: grid;
    gap: 15px;
    grid-template: 12svh 12svh 50svh 12svh / 25% 75%;
    text-align: center;
    overflow: hidden;
}

.container > div {
    border: 2px solid red; /*remove this later */
}

#header{
    grid-area: 1 / 1 / 2 / 3;
}

#sidebar{
    grid-area: 2 / 1 / 4 / 2;
}
#article{
    
}
#footer{
    grid-area: 4 / 1 / 5 / 3;
}