*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100svh;
}

.container{
    height: inherit;
    margin: 1rem;
    border: 2px solid black;  /*remove this later */
    background-color: lightblue;
    display: grid;
}

.container > div {
    border: 2px solid red; /*remove this later */
}